@import "../../style/variables";
.parent {
  margin-top: 64px;
  display: grid;
  justify-content: center;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  grid-column-gap: 32px;
  grid-row-gap: 34px;
}
.Blog-Main-Label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  display: flex;
  align-items: center;
  color: #313037;
}

.div0 { grid-area: 1 / 1 / 3 / 3; }
.div1 { grid-area: 3 / 1 / 5 / 2; }
.div2 { grid-area: 3 / 2 / 5 / 3; }
.div3 { grid-area: 5 / 1 / 7 / 2; }
.div4 { grid-area: 5 / 2 / 7 / 3; }
.div5 { grid-area: 7 / 1 / 9 / 2; }
.div6 { grid-area: 7 / 2 / 9 / 3; }
.div7 { grid-area: 1 / 3 / 2 / 4; }
.div8 { grid-area: 2 / 3 / 3 / 4; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 4 / 3 / 5 / 4; }
.div11 { grid-area: 5 / 3 / 6 / 4; }
.div12 { grid-area: 6 / 3 / 7 / 4; }