.PromoCardElement {
  width: 352px;
  height: 206px;
  border-bottom: 1px solid #dadada;
}
.PromoCardElementpDate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8d8e97;
  text-align: start;
}
.PromoCardElementmainTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #313037;
  text-align: start;
}
.PromoCardElementimgspace {
  width: 96px;
  height: 96px;
}

.PromoWrapper {
  display: flex;
}
