@import "../../../style/variables";
@import '../../../style/theme';
.Next--block--text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  margin: 0px;
}
.Next--block--link {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 1.6em; /* Fallback for non-webkit, line-height * 2 */
  -webkit-line-clamp: 1; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
 
}
.Next--wrapper {
  display: flex;
  width: 293px;
  height: 56px;
  
  justify-content: flex-end;
  
}
.Next--block {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}

.Next--arrow {
  margin-left: 24px;
}
