@import "../../style/variables";
$width: 100%;
.large--Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 736px;
  border-bottom: 1px solid $color-background-primary2;
  padding-bottom: 32px;
}
.Card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-background-primary2;
}
.large--Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.large--Img {
  width: 256px;
  height: 244px;
  margin: 0 0 130px 32px;
  object-fit: cover;
}
.Card--wrapper--image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.time {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-background-primary;
}
.large--Name {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;
  font-style: normal;

  display: -webkit-box;

  -webkit-line-clamp: 3; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.large--Name:hover {
  cursor: pointer;
  color: $color-primary;
}
.large--Text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color-background-primary;
  text-align: left;
  height: 168px;
}

.medium--Card {
  display: flex;
  flex-direction: column;
  width: 352px;
  border-bottom: 1px solid $color-background-primary2;
  padding-bottom: 32px;
}

.medium--Content {
  display: flex;
  flex-direction: column;
}
.medium--Img {
  width: 352px;
  height: 246px;
  margin-bottom: 24px;
  object-fit: cover;
}
.medium--Name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;

  display: -webkit-box;

  -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.medium--Name:hover {
  cursor: pointer;
  color: $color-primary;
}

.small--Card {
  display: flex;
  flex-direction: column;
  width: 352px;
  border-bottom: 1px solid $color-background-primary2;
  padding-bottom: 32px;
}

.small--Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.small--Img {
  width: 96px;
  height: 96px;
  margin: 0 0 36px 34px;
  object-fit: cover;
}
.small--Name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.small--Name:hover {
  cursor: pointer;
  color: $color-primary;
}
