/**** Colors *****/
/**** Fonts *****/
/**** Indents *****/
.large--Card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}

.Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #dadada;
}

.large--Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.large--Img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 246px;
  float: right;
}

.Card--wrapper--image {
  width: 100%;
}

.time {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8d8e97;
}

.large--Name {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #313037;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;
  font-style: normal;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.large--Name:hover {
  cursor: pointer;
  color: #2231aa;
}

.large--Text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #8d8e97;
  text-align: left;
  height: 168px;
}

.medium--Card {
  width: 100%;
  padding-bottom: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.medium--Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 0px;
}

.medium--Img {
  width: 100%;
  height: 246px;
  margin-bottom: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
}

.medium--Name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #313037;
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.medium--Name:hover {
  cursor: pointer;
  color: #2231aa;
}

.small--Card {
  width: 100%;
  padding-bottom: 15px;
}

.small--Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.small--Img {
  width: 96px;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
}

.small--Name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #313037;
  text-align: left;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small--Name:hover {
  cursor: pointer;
  color: #2231aa;
}
/*# sourceMappingURL=Card.css.map */