@import "../../style/variables";
.large--Card {
  justify-content: space-between;
  width: 736px;
  height: 452;

  padding-bottom: 15px;
}
.Card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-background-primary2;
}

.large--Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.large--Img {
  width: 35%;
  height: 60%;
  margin: 0 0 142px 32px;
}
.time {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-background-primary;
}
.large--Name {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: $color-secondary;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;
  font-style: normal;
}
.large--Name:hover {
  cursor: pointer;
  color: $color-primary;
}
.large--Text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color-background-primary;
  text-align: left;
  height: 168px;
}

.medium--Card {
  width: 352px;
  padding-bottom: 0px;
}

.medium--Content {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0px;
}
.medium--Img {
  width: 100%;
  height: 58%;
  margin-bottom: 24px;
}
.medium--Name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $color-secondary;
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
  margin-top: 8px;
}
.medium--Name:hover {
  cursor: pointer;
  color: $color-primary;
}

.small--Card {
  width: 352px;
  padding-bottom: 15px;
}

.small--Content {
  display: flex;
  flex-direction: row;
}
.small--Img {
  width: 27%;
  height: 85%;
  margin: 0 0 21px 34px;
}
.small--Name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $color-secondary;
  text-align: left;
}
.small--Name:hover {
  cursor: pointer;
  color: $color-primary;
}
