/**** Colors *****/

// System colors
$color-primary: #2231aa;
$color-primary2: #5360cd;
$color-secondary: #313037;

//Background colors
$color-background-primary: #8d8e97;
$color-background-primary2: #dadada;
$color-background-secondary: #f3f3f3;

// Contextual colors
$color-contextual-error: #8d8e97;
$color-white: #ffffff;
$color-light: #e8e8e8;

/**** Fonts *****/

// Font-family
$font-family-headline: "Inter", sans-serif;
$font-family-subline: "Inter", sans-serif;
$font-family-body: "Inter", sans-serif;

// Font sizes
$font-size-headline-1-desktop: 56px;
$font-size-headline-1-mobile: 32px;
$font-size-headline-2-desktop: 32px;
$font-size-headline-2-mobile: 24px;
$font-size-headline-3-desktop: 18px;
$font-size-headline-3-mobile: 18px;
$font-size-subline-1: 16px;
$font-size-body-1: 16px;
$font-size-body-2: 16px;

/**** Indents *****/
$indent-xxxl: 72px;
$indent-xxl: 64px;
$indent-xl: 56px;
$indent-l: 48px;
$indent-ml: 40px;
$indent-m: 32px;
$indent-s: 24px;
$indent-xs: 16px;
$indent-xxs: 8px;
