.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #dadada;
  width: 60%;
  margin-bottom: -50px;
  margin: 0 auto;

  height: 50px;

  bottom: 0;
}
.footer_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8d8e97;
}
