@import "../../style/variables";
.PageUPHeader-link-Back {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;


}
.PageUPHeader-Main-Label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  display: flex;
  margin-top: 32px;
  align-items: center;

}
