@import "../../style/variables";

.CardSearch {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-background-primary2;
  margin-top: 30px;
  &--Card {
    width: 100%;
    padding-bottom: 15px;
  }

  &--Content {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }
  &--Img {
    width: 96px;
    height: 96px;
  }
  &--Name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  
    text-align: left;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;

    -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--Name:hover {
    cursor: pointer;
    color: $color-primary;
  }
  &--Own--Wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &--time {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   
  }
}
